<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweet Sentiment Analyzer</title>
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            /* Set the fixed height of the footer here */
            line-height: 60px;
            /* Vertically center the text there */
            background-color: #f5f5f5;
        }

        html {
            position: relative;
            min-height: 100%;
        }
    </style>
</head>

<body>
    {% extends 'include.html' %}
    {% block content %}
    {% load static %}
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e9e9e9;">
            <a class="navbar-brand" href="{% url 'home' %}">Tweet Sentiment Analyzer</a>
        </nav>
    </header>

    <main role="main">

        <!-- return to top -->
        <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" style="color: white;">Search for tweets</h1>
                <p class="lead" style="color: white;">and get to know their sentiment.</p>
                <!-- <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a> -->
                <hr class="my-4" style="background-color: white;">
                <a href="https://twitter.com/thecoducer?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                    data-show-screen-name="true" data-show-count="false">Follow @thecoducer</a>
                <iframe
                    src="https://ghbtns.com/github-btn.html?user=thecoducer&repo=tweet-sentiment-analysis&type=star&count=true"
                    frameborder="0" scrolling="0" width="60px" height="20px"></iframe>
            </div>
        </div>

        <form method="POST" id="search-form" style="margin-top: 90px;" name="submit-to-google-sheet">
            {% csrf_token %}

            <section id="search-bar">
                <div class="container col-md-8 col-lg-6 col-xl-5">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search tweets" name="searchinput"
                            id="searchinput-id" aria-label="searchinput" aria-describedby="searchinput" required="true"
                            aria-required="true">
                        <div class="input-group-append">
                            <button class="btn btn-success btn-outline-secondary" type="submit" id="search_btn"
                                style="padding-left: 20px; padding-right: 20px;"><i class="icon ion-search"
                                    style="color:white;"></i></button>
                        </div>
                    </div>

                    <center>
                        <div class="radio-inline" style="margin-top: 20px;">
                            <label style="margin-right: 10px; color: rgb(29, 29, 29);">
                                <input type="radio" name="option" value="1" checked> With keyword
                            </label>
                            <label style="margin-left: 10px; color: rgb(29, 29, 29);">
                                <input type="radio" name="option" value="2"> From user
                            </label>
                        </div>
                    </center>
                </div>
            </section>
        </form>

        <div class="container col-md-8 col-lg-7 col-xl-7" style="margin-top: 50px;">
            <!-- <div class="alert alert-info" role="alert" id="welcome">
                <h4 class="alert-heading">Hey!</h4>
                <p>Search for tweets and get detailed report on the sentiment of the searched tweets.</p>
            </div> -->

            <div class="alert alert-success hidden" role="alert" id="loading">
                <center>
                    <h4 class="alert-heading">Loading...</h4>
                </center>
            </div>

            <div class="alert alert-danger hidden" role="alert" id="not-found">
                <center>
                    <h4 class="alert-heading">Oops! User not found. Try again.</h4>
                </center>
            </div>

            <div class="alert alert-danger hidden" role="alert" id="try-again">
                <center>
                    <h4 class="alert-heading">Something went wrong. Try again!</h4>
                </center>
            </div>

            <div class="alert alert-danger hidden" role="alert" id="no-data">
                <center>
                    <h4 class="alert-heading">No tweets found.</h4>
                </center>
            </div>

            <div class="alert alert-success hidden" role="alert" id="display-count">
            </div>

            <div class="alert hidden" id="index-label">
                <center>
                    <h4 id="index-label-content">
                    </h4>
                    <p id="index-label-help">
                    </p>
                </center>
            </div>
        </div>

        <div class="container col-md-10 col-lg-10 col-xl-10 hidden" style="margin-top: 45px;" id="result">
            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Table</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Chart</a>
                    <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Tag Cloud</a> -->
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered">

                            <thead class="thead-dark" id="table-head">
                            </thead>

                            <tbody id="table-result">
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="text-center">
                        <br>

                        <div id="chart-container">
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                </div>

            </div>
        </div>

        <footer class="footer" style="margin-top: 50px; margin-bottom: -20px;">
            <div class="text-center">
                Made with <i class="icon ion-heart"></i> by <a href="https://thecoducer.github.io/" target="_blank">The
                    Coducer</a>
            </div>
        </footer>
    </main>

    <script src="{% static 'js/home.js' %}"></script>

    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbw9LcmFEZksaM0eq5mvmaGgjHrT5l4MF49VH5AByXpvrxNNh8zn/exec'
        const form = document.forms['submit-to-google-sheet']

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                .then(response => console.log('Success!', response))
                .catch(error => console.error('Error!', error.message))
        })
    </script>

    {% endblock %}
</body>

</html>